<%- include('partials/header') %>
<div>
  <div id="Prachi_Piano">
    <img id="geert-pieters-8QrPJ3Kfie4-unsp" src="img/piano-home.png">
    <div id="Piano-quotes">
      <span>The important thing is to feel your music, really feel it and believe it. ~ Ray Charles </span>
    </div>
    <div id="Welcome_to_the_world_of_Prachi">
      <span>Welcome to the world of</span><br><span class="center-brand" style="font-size:80px;">Prachi's Piano</span>
    </div>
    <div class="subscribeform">
      <form action="/subscribe" method="post">
        <div class="input">
          <input type="text" name="subscriberemail" value="" class="subscribeforminput" placeholder="Enter Email Address">
          <button type="submit" class="subscribeformbtn" name="button">Subscribe</button>

        </div>
      </form>
    </div>

    <div id="Learn_Play_Feel">
      <span>Learn. Play. Feel.</span>
    </div>
  </div>
</div>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3>ABOUT ME</h3>
  <p><em>Music is what I talk about. Music is what I know about!</em></p>
  <p>I was 9 Year old, when I first got introduced to the world of music. The journey started back in 2000
    when I got my first break to sing at a School level competition. Then I performed at various distrcit level
    competetions. I pursued Account and moved to <b>Jakarta, Indonesia</b> with my husband. <br>Today, I am a full time YouTuber and a proud mother of my baby, Shlok. </p>
  <br>
</div>

<!-- Container (TOUR Section) -->
<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">GALLERY</h3>
    <div class="row gallery-input">
      <div class="col-md-6">
        <a class="seeallvideos" href="/allvideos">See All</a>
      </div>
      <div class="col-md-6">
        <input type="text" class="searchbox" placeholder="Search">
      </div>

    </div>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <iframe class="homevideosuggestions" src="https://www.youtube.com/embed/T0MEh_H6MSM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <p class="videosuggestiontitle"><strong>twinkle twinkle little star piano</strong></p>
          <a href="/videodetail/UEx6YkRlN3BVb05xZFg4OTNhcEoxTVlEb29OZERYaUdyRi5GMDBDNkJGMzYzREUyMTYw" class="btn">Details</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <iframe class="homevideosuggestions" src="https://www.youtube.com/embed/974te3M5Y1Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <!-- <img src="paris.jpg" alt="Paris" width="400" height="300"> -->
          <p class="videosuggestiontitle"><strong>kya yahi pyar hai piano</strong></p>
          <a href="/videodetail/UEx6YkRlN3BVb05xZFg4OTNhcEoxTVlEb29OZERYaUdyRi5CMUM0NzY5NzdEQzlGRjAx" class="btn">Details</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <iframe class="homevideosuggestions" src="https://www.youtube.com/embed/RlYKSnInKeE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <!-- <img src="paris.jpg" alt="Paris" width="400" height="300"> -->
          <p class="videosuggestiontitle"><strong>the wheels on the bus piano tutorial</strong></p>
          <a href="/videodetail/UEx6YkRlN3BVb05xZFg4OTNhcEoxTVlEb29OZERYaUdyRi5EMzJDRTUwQjBEOUVFQzAw" class="btn">Details</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <iframe class="homevideosuggestions" src="https://www.youtube.com/embed/qA0tq4xwb2E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <!-- <img src="paris.jpg" alt="Paris" width="400" height="300"> -->
          <p class="videosuggestiontitle"><strong>aankhon me tera hi chehra piano</strong></p>
          <a href="/videodetail/UEx6YkRlN3BVb05xZFg4OTNhcEoxTVlEb29OZERYaUdyRi40NzE2MTY1QTM3RUI3QkU3" class="btn">Details</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <iframe class="homevideosuggestions" src="https://www.youtube.com/embed/G4EOzb1TlFc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <!-- <img src="paris.jpg" alt="Paris" width="400" height="300"> -->
          <p class="videosuggestiontitle"><strong>Fur elise piano</strong></p>
          <a href="/videodetail/UEx6YkRlN3BVb05xZFg4OTNhcEoxTVlEb29OZERYaUdyRi44MkM2RjVEQkQ5N0I2MjVE" class="btn">Details</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <iframe class="homevideosuggestions" src="https://www.youtube.com/embed/NY0UOi4N4u8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <!-- <img src="paris.jpg" alt="Paris" width="400" height="300"> -->
          <p class="videosuggestiontitle"><strong>ae kaash ke hum hosh me ab piano</strong></p>
          <a href="/videodetail/UEx6YkRlN3BVb05xZFg4OTNhcEoxTVlEb29OZERYaUdyRi44QTA1QTQyRTc3M0VGQzYx" class="btn">Details</a>
        </div>
      </div>
    
    </div>

  </div>
</div>

<!-- Modal -->



<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>I would love to hear from you!</em></p>

  <div class="row">
    <div class="col-md-4">
      <p>Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Jakarta, Indonesia</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: prachipianoofficial@gmail.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<div id="request" class="bg-1">
  <div class="container">
    <h3 class="text-center">Request</h3>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">New Song Request</a></li>
      <li><a data-toggle="tab" href="#menu2">Notes Request</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h2>New Song Request</h2>
        <p>Thank you for believing in me. I am trying to capture all the songs possible to play on Piano and that looks good,
          but sometimes, I miss out some exiting songs. Kindly fill up the details, and I will try to acknowledge your request. Thank You!.</p>
        <button class="btn" data-toggle="modal" data-target="#songrequest">Request Song</button>
      </div>
      <div id="menu2" class="tab-pane fade">
        <h2>Notes Request</h2>
        <p>For all the songs that I uploads on youtube, I creates a note, and add it as a subtitle. Although, if you are looking for any specific
          song, then kindly let me now, my team will look into it and will send you the notes by Email. Thank you!</p>
        <button class="btn" data-toggle="modal" data-target="#noterequest">Request Note</button>
      </div>

      <div class="modal fade" id="songrequest" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4><i class="fas fa-music"></i>New Song Request</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="fname">First Name</label>
                  <input type="text" required class="form-control" id="fname" placeholder="First Name?">
                </div>
                <div class="form-group">
                  <label for="lname">Last Name</label>
                  <input type="text" required class="form-control" id="lname" placeholder="Last Name?">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" required class="form-control" id="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <label for="psw">Song Name</label>
                  <input type="number" required class="form-control" id="psw" placeholder="Song Name?">
                </div>
                <div class="form-group">
                  <label for="usrname">YouTube URL</label>
                  <input type="text" class="form-control" id="usrname" placeholder="Enter YouTube URL (if any)">
                </div>
                <button type="submit" class="btn btn-block">Request
                </button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span> Cancel
              </button>
              <p>Need <a href="#">help?</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="noterequest" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4><i class="fas fa-music"></i>Note Request</h4>
            </div>
            <div class="modal-body">
              <form role="form">
                <div class="form-group">
                  <label for="fname">First Name</label>
                  <input type="text" required class="form-control" id="fname" placeholder="First Name?">
                </div>
                <div class="form-group">
                  <label for="lname">Last Name</label>
                  <input type="text" required class="form-control" id="lname" placeholder="Last Name?">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" required class="form-control" id="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <label for="psw">Song Name</label>
                  <select required class="form-control" name="">
                    <option value="0">Select a Song</option>

                    <option value="twinkle twinkle little star piano|#shorts | twinkle twinkle piano tutorial |#youtubeshorts | prachi">twinkle twinkle little star piano|#shorts | twinkle twinkle piano tutorial |#youtubeshorts | prachi</option>

                    <option value="kya yahi pyar hai piano|kya yahi pyar hai piano tutorial|rocky|lata|kishore kumar|@Prachi&#39;s piano">kya yahi pyar hai piano|kya yahi pyar hai piano tutorial|rocky|lata|kishore kumar|@Prachi&#39;s piano</option>

                    <option value="the wheels on the bus piano tutorial| #shorts |#youtubeshorts| wheelsonthebusonpiano| #kidssongpiano">the wheels on the bus piano tutorial| #shorts |#youtubeshorts| wheelsonthebusonpiano| #kidssongpiano</option>

                    <option value="aankhon me tera hi chehra piano| ankhon me pianotutorial| aankhon me aryans song on piano| keyboard">aankhon me tera hi chehra piano| ankhon me pianotutorial| aankhon me aryans song on piano| keyboard</option>

                    <option value="Fur elise piano|beethoven| #shorts| piano tutorial | youtube#shorts |#shorts piano tutorial | prachi">Fur elise piano|beethoven| #shorts| piano tutorial | youtube#shorts |#shorts piano tutorial | prachi</option>

                    <option value="ae kaash ke hum hosh me ab piano| aie kash ke hum piano tutorial| kabhi haan kabhi naa| kumar sanu">ae kaash ke hum hosh me ab piano| aie kash ke hum piano tutorial| kabhi haan kabhi naa| kumar sanu</option>

                    <option value="Live Streaming 1| 5th april 2021| Join Me Live| @prachi&#39;spiano">Live Streaming 1| 5th april 2021| Join Me Live| @prachi&#39;spiano</option>

                  </select>
                </div>
                <button type="submit" class="btn btn-block">Request
                </button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span> Cancel
              </button>
              <p>Need <a href="#">help?</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<%- include('partials/footer') %>
